<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>RomanToDecimal</title>
</head>
    <body>
        <form action="/converter/convert" method="POST">
            <div class="form-group">
                <label for="romanNumber">Roman Number</label>
                <input name="romanNumber" type="text" class="form-control" id="romanNumber" placeholder="Enter a number...">
            </div>
            <button type="submit" class="btn btn-primary">Send</button>
        </form>
    </body>
</html>